@font-face {
    font-family: RobotoB;
    font-weight: 700;
    src: url('fonts/Roboto-Bold.ttf')  format('truetype');
  }
  @font-face {
    font-family: RobotoR;
    src: url('fonts/Roboto-Regular.ttf')  format('truetype');
  }

  *{
    padding: 0;
    box-sizing: 0;
    border: 0;
    
  }

  body{
    background-color: hsl(235, 18%, 26%);
    font-family: RobotoR;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 1000px;
    
  }

  .lf{
    padding: 80px 50px;
    display: block;
  }
  .rg{
    
  }
  img{
    padding: 30px;
  }
  ul{
    list-style-image: url(images/icon-list.svg);
    list-style-position: inside;
  }


  h1{
    font-family: RobotoB;
    font-size: 60px;
    
  }

  li{
    padding-top: 10px;
  }

.signup{
    padding-top: 20px;
}
input{
    height: 40px;
    border: 1px solid hsl(231, 7%, 60%);
    width: calc(100% - 10px);
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
    color: hsl(231, 7%, 60%);
    

}
input:first-of-type{
    border-radius: 6px;
    font-size: 20px;
}
input:nth-of-type(2){
    background-color:hsl(235, 18%, 26%);
    color: white;
    font-size: 16px;
}
button{
    margin-top: 20px;
    height: 40px;
    margin-left: 10px;
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(235, 18%, 26%);
    border-radius: 5px;
}
.message{
    background-color: hsl(0, 0%, 100%);
    width: 370px;
    height: 470px;
    border-radius: 30px;
    padding: 0px 60px;
    margin: 0;
    text-align: center;
}
.message>img{
    margin-top: 10px;
    padding: 0;
    
}
h2{
    font-size: 40px;
    text-align: left;
    font-weight: 700;
    font-family: RobotoB;
}
p{
    padding-bottom: 40px;
    text-align: left;
}
.btn{
text-decoration: none;
color: white;
background-color: hsl(4, 100%, 67%);
padding: 15px 100px;
border-radius: 5px;
text-align: center;
}
#required{
    visibility: hidden;
    text-align: right;
}
.zzz{
    display: flex;
    justify-content: space-between;
}
